################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KL_eCom.Web/KL_eCom.Web/Scripts
/KL_eCom.Web/KL_eCom.Web/Content
/kl_eCom_Prototype1/.vs/kl_eCom_Prototype1/v15/Server/sqlite3/db.lock
/kl_eCom_Prototype1/.vs/kl_eCom_Prototype1/v15/Server/sqlite3/storage.ide
/kl_eCom_Prototype1/.vs/kl_eCom_Prototype1/v15/Server/sqlite3/storage.ide-shm
/kl_eCom_Prototype1/.vs/kl_eCom_Prototype1/v15/Server/sqlite3/storage.ide-wal
/kl_eCom_Prototype1/kl_eCom.Web
