<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://khushlifetrial1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>khushlifetrial1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KhushLifeTrial1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KhushLifeTrial1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=khushlifeecom.database.windows.net;AttachDbFilename=C:\Users\Rishant\source\repos\kl_eCom_Prototype1\kl_eCom_Prototype1\kl_eCom.Web\App_Data\aspnet-kl_eComDB.mdf;Initial Catalog=SampleDB;Persist Security Info=True;User ID=KLAdmin;Password=KhushLife@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="kl_eCom.Web.Models.ApplicationDbContext, kl_eCom.Web" MigrationConfiguration="kl_eCom.Web.Migrations.Configuration, kl_eCom.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=khushlifeecom.database.windows.net;AttachDbFilename=C:\Users\Rishant\source\repos\kl_eCom_Prototype1\kl_eCom_Prototype1\kl_eCom.Web\App_Data\aspnet-kl_eComDB.mdf;Initial Catalog=SampleDB;Persist Security Info=True;User ID=KLAdmin;Password=KhushLife@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>