<div class="row" style="margin: 0; padding: 0">
    Price
    <div class="col-md-offset-2">

    </div>
    <br />
    Avg. Rating
    <div class="col-md-offset-2">

    </div>
    <br />
    New Arrivals
    <div class="col-md-offset-2">

    </div>
    <br />
    Availibility
    <div class="col-md-offset-2">

    </div>
    <br />
</div>