<li>@Html.TextBox("searchQuery", null, new { placeholder = "Search...", style = "border: 2px solid mintcream; height: 33px; width: 475px; padding: 2px 5px; border-radius: 3px;" })</li>
<li><input id="searchBtn" name="searchBtn" type="button" class="btn btn-success" value="Search" style="margin-left: 5px;" /></li>
