@model kl_eCom.Web.Models.MarketShopsViewModel
@{
    ViewBag.Title = "Shops";
}

<h2>Shops</h2>

@foreach (var shop in Model.Shops)
{
    @Html.ActionLink(shop.Name, "Index", "Shop", new { id = shop.Id }, null)
}