@using Microsoft.AspNet.Identity
@using System.Data.Entity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" },
        FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var db = new kl_eCom.Web.Models.ApplicationDbContext();
                var id = User.Identity.GetUserId();
                var vendor = db.Users
                               .Include(m => m.VendorDetails)
                               .FirstOrDefault(m => m.Id == id);
                var greeting = vendor.UserName;
                if (vendor.VendorDetails != null && !string.IsNullOrEmpty(vendor.VendorDetails.BusinessName))
                {
                    greeting = vendor.VendorDetails.BusinessName;
                }
             }
            @Html.ActionLink("Hello " + greeting, "Details", "Vendor",
                routeValues: new { area = "Vendors" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register as a Vendor", "Register", "Home",
           routeValues: new { area = "Vendors" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account",
           routeValues: new { area = "", returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
