@model kl_eCom.Web.Models.ShopByProductsViewModel
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_EcomLayout.cshtml";
}

<h2>Categories</h2>

<div class="row">
    @foreach (var cat in Model.Categories)
    {
        <div class="col-md-4 category">
            <h4>@Html.ActionLink(cat.Name, "ByProducts", new { id = cat.Id })</h4>
        </div>
    }
</div>