@model kl_eCom.Web.Areas.Vendors.Models.ProductReorderImagesViewModel
@{
    ViewBag.Title = "Reorder Detailed Images";
    Layout = "~/Areas/Vendors/Views/Shared/_Layout.cshtml";
}

<h2>Reorder Detailed Images</h2>

